%h1.page-header Dashboard
.col-md-5.well
  = render 'news/feed'

.col-md-2

.col-md-5.well
  %table
    %tbody
      %tr
        %td= render 'disbursements/current'
      %tr
        %td= render 'disbursements/generate'