%h1.page-header
  Dashboard

.col-md-6
  .well
    = render 'news/feed'
    
.col-md-6
  .well
    = render 'children/birthday'

.col-md-6
  .well
    %table
      %tbody
        %tr
          %td= render 'disbursements/current'
        %tr
          %td= render 'disbursements/generate'
