%h1.page-header Dashboard
.col-md-5
  .well
    = render 'news/feed'
    
.col-md-6.col-md-offset-1.well
  .well
    = render 'children/birthday'

.col-md-6.col-md-offset-1.well
  %table
    %tbody
      %tr
        %td= render 'disbursements/current'
      %tr
        %td= render 'disbursements/generate'