%h1.page-header Dashboard
.col-md-7


  %p Hallo!
  %p Schritt 1: Benutzer auswählen
  %p Schritt 2: Datum auswählen

.col-md-5.well
  %table
    %tbody
      %tr
        %td= render 'disbursements/current'
      %tr
        %td= render 'disbursements/generate'