.row
  .col-md-9
    %h1.page-header
      Account:
      = @account.name 

  .col-md-3
    %br
    %br
    .btn-group
      = link_to 'Bearbeiten', edit_account_path(@account), class: "btn btn-primary"
      = link_to 'Übersicht', accounts_path, class: "btn btn-success"